<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About Me</h2>
                    <h3 class="section-subheading text-muted">If you'd like to see a a full r&eacute;sum&eacute;, please visit my
                        <a href="https://www.linkedin.com/in/amanda-krauss-5397a123">LinkedIn profile</a>.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/statue.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>December 2004</h4>
                                    <h4 class="subheading">A Degree in Classics</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">In 2004 I received my Ph.D. in Classics. Along the way, I'd designed a website or two, translated a play, been on a couple of archaeological digs in Rome, and taught a lot of Latin courses.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2005-2010</h4>
                                    <h4 class="subheading">From Teaching to Tech</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">From 2005-2010 I was an Assistant Professor at Vanderbilt University. But I decided that I needed a change of career, so in 2008 I started retrianing in technology and learning to code on Lynda.com</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/austin-capitol.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2010-2012</h4>
                                    <h4 class="subheading">Freelancing In Austin</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">My first goal was to move back to Austin; my second was to start working in my chosen field. I worked mostly in Wordpress and front-end development.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/TT-logo.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>October 2012-Present</h4>
                                    <h4 class="subheading">The Texas Tribune</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">The Trib is a non-partisan, non-profit, digital news source that educates and engages Texans. I started as an Interactive Designer and over the years moved up to Tech Director.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>What's Next?
                                    <br>Who
                                    <br>Knows!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
