<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">What I Do</h2>
                    <p class="text-muted">I'm digital media leader who is happiest at the intersection of technology, user needs, and business goals. I care deeply about processes that make people happy and productive, and when it comes to digital organization, Marie Kondo's got nothing on me. I've heard what I do called product management, UX design, or content strategy; I don't really care what we call it, as long as we're making strategically smart decisions. If you'd like to see a a full r&eacute;sum&eacute;, please visit my <a href="https://www.linkedin.com/in/amanda-krauss-5397a123">LinkedIn profile</a>.
                    </p>
                </div>
            </div>
            <div class="row text-center">
                 <div class="col-md-4">
                    <!--span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span-->
                    <h4 class="service-heading">Lead</h4>
                    <p class="text-muted">As Christina Wodtke <a href="https://medium.com/@cwodtke/the-only-silver-bullet-48eae2608fc9#.bsdaggqng">noted</a>, "Being a good manager is 90% having a series of difficult conversations". I'm good at those, and also good at inspiring folks to do their best work towards a common goal. It doesn't hurt that I used to be a professor; I'm research-driven, a good public speaker, and I love the challenge of bringing different stakeholders to consensus.</p>
                </div>
                <div class="col-md-4">
                    <!--span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-cogs fa-stack-1x fa-inverse"></i>
                    </span-->
                    <h4 class="service-heading">Strategize</h4>
                    <p class="text-muted">Before you worry about technology stacks, you need to be clear about your project goals and your definition of success. We'll focus on the problems you're trying to solve, rather than choosing technical solutions first. And when it comes time to choose the solution, we won't jump for the shiniest new product on the block.</p>
                </div>
                <div class="col-md-4">
                    <!--span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                    </span-->
                    <h4 class="service-heading">Promote Best Practices</h4>
                    <p class="text-muted">To achieve your digital goals, you need to allow your design to be data-driven, and your development to be user-centered. Sometimes it's hard to hear honest feedback from the people you think you're serving -- but it's essential! While you're at it, you'll want to make sure readers are clicking that beautifully designed button, and can read that awesome font on mobile.</p>
                </div>
            </div>
        </div>
    </section>
