<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">Often, the hardest part of the web is understanding your options without feeling overwhelmed. I love helping people plan content strategy, understand user experience, and keep up with best practices in digital publishing.
                    </h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Consulting</h4>
                    <p class="text-muted">Have an idea in mind and not sure where to start? Wondering why your current project isn't working out the way you expected? Let's talk. I taught for ten years, so I'm really good at explaining technology in layperson's terms.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">UX Design</h4>
                    <p class="text-muted">When you're involved in a project, it's hard to get outside your own head -- but's it's essential that
                    you understand what your users want, and plan from <em>their</em> perspective. Let's find the best ways to do that.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Digital Strategy</h4>
                    <p class="text-muted">Before you worry about technology, you need to be clear about your own strategy and definition of success. When it comes to digital clarity and organization, Marie Kondo's got nothing on me.</p>
                </div>
            </div>
        </div>
    </section>
